*{
    margin: 0ch;
    background-color: rgb(255, 234, 118);
    overflow-x: hidden;
}

#outer-div{
    margin: auto;
    width: 100vw;
    height: auto; min-height: 100vh;
    
}


#meal-header{
    color: #800080;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 50px;
    padding-top: 20px;
}
.para{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #800080;
    font-size: 16px;
}

.meal-input{
    width: 30vw;
    height: 35px;
    margin-left: 500px;
    margin-top: 20px;
    border-width: 0ch;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0.5px grey;
    padding: 10px;
    font-weight: 450;
    background-color: white;
}
.meal-input:focus{
    outline: none;
    
}
.search{
    height: 36px;
    width: 5rem;
    margin-left: 5px;
    border-radius: 5px;
    border-width: 0.2px;
    background-color: #800080;
    color: white;
    font-weight: 600;
}
.search:hover{
    box-shadow: 2px 2px 1px 0.5px grey;
    opacity: 0.8;
}

#error-text{
    font-size: 18px;
    color: #fc0202;
    width: max-content;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 500;
}

#input-div div{
    text-align: center;
  
}





.random{
    width: 10rem;
    height: 35px;
    margin: auto;
    background-color: #800080;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    border-width: 0ch;
    margin-bottom: 35px;
    margin-top: 25px;
    margin-right: 20px;
}
.random:hover{
    opacity: 0.8;
    box-shadow: 2px 2px 1px 0.5px grey;
    outline: none;
}





#div-list{
    display: flex;
}

.list{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.meal-item{
    margin: 20px;
    width: 18vw;
    height: 50vh;
    background-color: white;
    box-shadow: 2px 2px 2px 1px black;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}
.meal-name{
    background-color: white;
}

/* used to hide scrollbar */
.meal-item::-webkit-scrollbar {                            
    display: none;
  }
.meal-name h3{
    color: crimson;
    background-color: white;
    overflow-y: hidden;
}
img{
    height: 30vh;
    width: 18vw;
    border-radius: 10px;
    background-color: white;
}

.meal-name p{
    background-color: white;
    margin-top: 0px;
    color: grey;
}

.meal-name .add{
    width: 100%;
   
    color: white;
    font-family: serif;
    background-color: crimson;
    padding: 2px;
    border-width: 0ch;
}

.meal-name .add:hover{
    box-shadow: 0px 2px 2px 0.5px grey;
    opacity: 0.9;
}

.meal-name .delete{
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    font-family: serif;
    background-color: rgb(52, 14, 219);
    padding: 2px;
    border-width: 0ch;
}
.meal-name .delete:hover{
    box-shadow: 0px 2px 2px 0.5px grey;
    opacity: 0.8;
}


.notFound{
    text-align: center;
    margin-top: 20px;
    color: #fc0202;
    font-size: 20px;
    font-weight: 500;
   
}







